.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;

    &.RESET{
        background-color: var(--button-bg-delete);
        color: var(--button-text-delete);
    }
    &.DEL{
        background-color: var(--button-bg-delete);
        color: var(--button-text-delete);
    }

    &.\={
        background-color: var(--button-bg-equals);
        color: var(--button-text-equals);
    }
}