.display {
    width: 100%;
    background-color: var(--display-bg-color);
    color: var(--display-text-color);
    text-align: right;
    padding: 15px 0px;
    border-radius: 10px;
    margin: 16px 0px;
    font-size: 2rem;

    &__result{
        margin-right: 7px;
    }
}