.display {
    background-color: var(--display-bg-color);
    color: var(--display-text-color);
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    width: 93%;
    margin-bottom: 16px;
    margin-top: 16px;
}