@import './scss/_colors';

@import './Componants/Calculator/calculator.scss';
@import './Componants/Calculator/Display/display.scss';
@import './Componants/Calculator/Keypad/keypad.scss';
@import './Componants/Calculator/ThemeSwitcher/theme_switcher.scss';
@import './Componants/Calculator/Keypad/Button/button.scss';

.App {
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

$themes: (
  theme-1: (
    bg-color: $bg-color-theme-1,
    button-bg-color: $button-bg-color-theme-1,
    button-text-color: $button-text-color-theme-1
  ),
  theme-2: (
    bg-color: #e6e6e6,
    button-bg-color: #eae3dc,
    button-text-color: #36362c
  ),
  theme-3: (
    bg-color: #17052a,
    button-bg-color: #331b4d,
    button-text-color: #fffcff
  )
);

@mixin theme($theme-name) {
  $theme: map-get($themes, $theme-name);
  
  --bg-color: #{map-get($theme, bg-color)};
  --button-bg-color: #{map-get($theme, button-bg-color)};
  --button-text-color: #{map-get($theme, button-text-color)};
}

.theme-1 {
  @include theme(theme-1);
}

.theme-2 {
  @include theme(theme-2);
}

.theme-3 {
  @include theme(theme-3);
}